body {
  font-family: Varela Round;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #333;
  background: #43004a;
  background: linear-gradient(36deg,rgba(38, 1, 125, 1) 0%, rgba(6, 6, 10, 1) 50%, rgba(38, 1, 125, 1) 100%);
  min-height: 100vh;
  // background-repeat: no-repeat;
}
